/* Scss Document */

/* archive post-type-archive post-type-archive-encyclopedia logged-in wp-custom-logo wp-embed-responsive theme-understrap-master woocommerce-js mega-menu-primary hfeed
*/

.post-type-archive-encyclopedia{
	.wrapper{
		padding:0;
	}
	.encyclopedia-prefix-filters .filter-level {
		background-color: $gray-100;
		border-bottom: 0;

	}
	.page-header{
		//background-color: #1ba4fc;
		background-color: $light-blue;
		background-image:none;
		padding: 105px 0 120px;
		.page-title{
			text-align:center;
			//color: $white;
			color: $white;
			text-transform: uppercase;
			margin:0 auto;
		}
	}
	
	.encyclopedia{
		
		padding:$spacer * 2;
		//border: 1px solid $gray-200;
		margin-top: $spacer;
		margin-bottom:$spacer;

		background-color: white;
		-webkit-box-shadow: 10px 10px 92px -60px rgba(0,0,0,1);
		-moz-box-shadow: 10px 10px 92px -60px rgba(0,0,0,1);
		box-shadow: 10px 10px 92px -60px rgba(0,0,0,1);
		
		.entry-header{
			padding:$spacer ;
			.entry-title{
				color:darken($primary, 10%);
				padding-bottom:$spacer;
				border-bottom: 2px solid $gray-500;
			}
		}
		.entry-content{
			padding:$spacer ;
		}
	}
	
	.support-nav{
		background: #f6f7f7;
    	padding: 60px 0 70px;
	}
	.tab-content{
		border-left:1px solid #dee2e6;
		border-right:1px solid #dee2e6;
		border-bottom:1px solid #dee2e6;
		.tab-pane{
			background: $white;
			padding:5rem 1rem 1rem 1rem;
		}
	}
}