/* Scss Document */

/* to keep admin bar on it's place */


#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link,
#mega-menu-wrap-product #mega-menu-product > li.mega-menu-item > a.mega-menu-link,
a.address-front{
border: 2px solid rgba(255, 255, 255, 0);;	
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-product #mega-menu-product > li.mega-menu-item > a.mega-menu-link:hover,
a.address-front:hover{
border: 2px solid $gray-300;
cursor: pointer;	
}


#shiftnav-toggle-main .shiftnav-toggle-burger {
   
	
    padding: 23px 20px !important;
   
}


#wrapper-navbar.sticky-top{
	z-index:1022;
}



.animated {
    will-change: transform;
    transition: transform 200ms linear;
}
.slideDown {
    transform: translateY(0%);
}

.slideUp {
    transform: translateY(0);
}

@include media-breakpoint-up(md) { 

.slideUp {
    transform: translateY(-31px);
}
}

.user-nav{
	
}

.main-nav{
	@extend .navbar; 
	@extend	.navbar-expand-md;
	@extend .bg-primary; 
	//padding: .1rem;
}

#product-nav{
	border-bottom: 1px solid $gray-100;
	
}

.announcements{
	@extend .navbar-text;
	@extend .d-sm-none;
	@extend .d-md-none;
	@extend .d-lg-block;
}

.vitamunda{
	@extend .navbar-brand;
	@extend .mb-0;
}


#wrapper-navbar{

	
	
	transition: all 0.2s ease-in-out;
	&.nav-up {
    
		
		#main-nav{
			padding:0;
			transition: all 0.2s ease-in-out;
			.nav-link{
				padding-top:0;
				padding-bottom:0;
				font-size: $font-size-sm;
			}
		
			.navbar-brand{
				padding-top:0;
				padding-bottom:0;
				max-width: 150px;
			}
		}
		
	}
}


/* user nav */

#user-nav{
	
	
		
		padding: 0;
		font-size:11px;
		line-height:15px;
		font-weight:$font-weight-bold;
		
			.nav-link  {
				font-size:11px;
				line-height:15px;
				padding: $nav-link-padding-y $nav-link-padding-y;
				font-weight:$font-weight-bold;
				&:hover{
						color:$gray-600;
					background: $gray-100;
					}
			}
			.header-widget{
				
				a{
					font-size:11px;
					line-height:15px;
					padding:  $nav-link-padding-y;
					font-weight:$font-weight-bold;
					color:$gray-800;
					display:inline-block;
					
					&:hover{
						color:$gray-600;
					}
				
				}
				
			}
			
	
	
}
	




.nav-link {
            padding-right: $navbar-nav-link-padding-x;
            padding-left: $navbar-nav-link-padding-x;
}



.navbar{
// PRODUCT BODY
	&.bg-primary{
		background-color:white !important;
		border-bottom: 1px #e3e3e3 solid;


	}
	
	ul {
		
		li{
			&.current-menu-item{
				border-bottom: 3px #00a2ff solid;
    			
			}	
			a{
				
				color: #333;
				
				
				
				
				font-weight: 700;
				
				text-decoration: none;
			}
		}
	}	
	
}


	.backdrop{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		width: 100vw;
		height: 100vh;
		background-color: #000;
		
	}
	.backdrop.fade {
		opacity: 0;
	}
	.backdrop.show{
	opacity: .7;
	}	

	.fade:not(.show) {
		opacity: 0;
	}
	.fade {
		transition: opacity .15s linear;
	}


.adress-wrapper{
		margin-top:1px;
	;
		.icon{
			margin-right:.25rem;
			
		}
	a.address-front{
		padding:.25rem;
	}
	a.address-front, a.address-front:link{
		color:#3a3a3a;
	}
	a.address-front:hover{
		text-decoration:none;
	}
	.text-address{
		display:block;
		&.first-row{font-size:.7rem}
		&.last-row{
			text-transform: capitalize;
			font-weight:500;
			font-size: .9rem;
    		line-height: 1rem;
		}
	}
	
	.message-text{
		margin-left:.25rem;
	}
	
}


