/* Scss Document */

.page.page-template{
	.wrapper{
		padding:0;
	}
	.entry-header{
		//background-color: #1ba4fc;
		background: $gray-100 !important;
		
		
		.entry-title{
			
			color: $gray-500;
			
		}
	}
	
	
}



.page{
	.entry-header{
		
		.entry-title{
		
			color: $gray-600;
			
		}
	}
	.entry-content{
		padding: 3rem;
		
	}
}