/* Scss Document */

.page.page-template{
	.wrapper{
		padding:0;
	}
	.entry-header{
		//background-color: #1ba4fc;
		background-color: $gray-200;
		background-image:none;
		padding: 105px 0 120px;
		.entry-title{
			text-align:center;
			//color: $white;
			color: $gray-500;
			text-transform: uppercase;
			margin:0 auto;
		}
	}
	
	.support-nav{
		background: #f6f7f7;
    	padding: 60px 0 70px;
	}
	.tab-content{
		border-left:1px solid #dee2e6;
		border-right:1px solid #dee2e6;
		border-bottom:1px solid #dee2e6;
		.tab-pane{
			background: $white;
			padding:5rem 1rem 1rem 1rem;
		}
	}
}

.page.page-template-support{
	.entry-header{
		//background-color: #1ba4fc;
		background-color: $gray-100;
		
	}
}

.page{
	.entry-header{
		background-color: $gray-100;
		
		padding: 105px 0 120px;
		.entry-title{
			text-align:center;
			//text-transform: uppercase;
			margin:0 auto;
			color: $gray-600;
			@extend .display-4;
		}
	}
	.entry-content{
		padding: 3rem;
		
	}
}