/* Scss Document */

.single-encyclopedia {
	
	.encyclopedia{
		
		background-color: white;
	-webkit-box-shadow: 10px 10px 92px -60px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 92px -60px rgba(0,0,0,1);
	box-shadow: 10px 10px 92px -60px rgba(0,0,0,1);
		
		.entry-header{
			//background-color: #1ba4fc;
			background-color: $gray-200;
			background-image:none;
			padding: 105px 0 120px;
			.entry-title{
				text-align:center;
				//color: $white;
				color: $gray-500;
				text-transform: uppercase;
				margin:0 auto;
			}
			.entry-meta{display:none}
		}
		.entry-content{
			padding:$spacer * 3;
		}
	}
	.nav-links{
		display:none;
	}
}