/* Scss Document */

.page.page-template-support{
	.entry-header{
		background: $light-blue !important;
		
		.entry-title{
			color:$white;
		}
	}
	
	.support-nav{
		background: #f6f7f7;
    	padding: 60px 0 70px;
	}
	.tab-content{
		border-left:1px solid #dee2e6;
		border-right:1px solid #dee2e6;
		border-bottom:1px solid #dee2e6;
		.tab-pane{
			background: $white;
			padding:5rem 1rem 1rem 1rem;
		}
	}
	
	.page{
		background: $gray-200;
	}

	
	
}




.single.single-sp_faq{
	padding:0;
	.wrapper{
		padding:0;
		background: $gray-200;
		
		.main-entry-header{
			background: $light-blue !important;
			
			
			.entry-title{
				text-align:center;
			color:$white;
				text-transform: uppercase;
			margin:0 auto;
		}
		}
		
		#single-wrapper{
			
		}
		
		.site-main{
			margin-top:2rem;
			padding-top:0;
			margin-bottom:2rem;
			background-color: $white;
			
			.entry-meta{
				.byline{display:none;}
				.posted-on{ display:none;}
			}
			.entry-title{
				padding:1rem;
			}
			.entry-content{
				padding:1rem 5rem;
			}
		}
	}


}